<wicket:panel>
<head>
<meta charset="utf-8" />
 
    </head>
    <div id="nav">
        <ul>
            <li><a wicket:id="link-home" href="#"><span> Главная</span></a></li>
            <li><a wicket:id="link-products" href="#"><span>Продукты</span></a></li>
            <li><a wicket:id="link-sklad"href="#"><span>Склады</span></a> </li>
             <li><a wicket:id="link-orders" href="#"><span>Заказы</span></a></li>
             <li><a class="red-link"  wicket:id="link-logout" href="#" ><span>Выход</span></a></li>
        </ul>
    </div>
   
</wicket:panel>

