<wicket:panel>
<head>
<meta charset="utf-8" />
 
    </head>
    <div id="nav">
        <ul>
            <li><a wicket:id="link-home" href="#"><span><wicket:message key="menu.home"/></span></a></li>
            <li><a wicket:id="link-products" href="#"><span><wicket:message key="menu.products"/></span></a></li>
            <li><a wicket:id="link-sklad"href="#"><span><wicket:message key="menu.sklad"/></span></a> </li>
             <li><a wicket:id="link-orders" href="#"><span><wicket:message key="menu.orders"/></span></a></li>
             <li><a wicket:id="link-customers" href="#"><span><wicket:message key="menu.customers"/></span></a></li>
             <li><a class="red-link"  wicket:id="link-logout" href="#" ><span><wicket:message key="menu.logout"/></span></a></li>
        </ul>
    </div>
   
</wicket:panel>

